<section>
	<div class="section-header">
		<h1>Editar fuerza politica</h1>
		  {{link-to "Ver fuerzas politicas" "data-entry.subforces.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/subforces/form"}}
	</div>
</section>



