<section>
	<div class="section-header">
		<h1>Create fuerza politica</h1>
		  {{link-to "Ver fuerzas politicas" "data-entry.forces.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/forces/form"}}
	</div>
</section>

