<section>
	<div class="section-header">
		<h1>Editar Configuracion</h1>
		  {{link-to "Ver configuraciones" "admin.configs.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "admin/configs/form"}}
	</div>
</section>



