<section>
	<div class="section-header">
		<h1>Nuevo cargo</h1>
		  {{link-to "Ver cargos" "data-entry.charges.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/charges/form"}}
	</div>
</section>


