<section>
	<div class="section-header">
		<h1>Editar escuela</h1>
		  {{link-to "Ver escuelas" "data-entry.schools.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/schools/form"}}
	</div>
</section>



