<section>
	<div class="section-header">
		<h1>Editar candidato</h1>
		  {{link-to "Ver configuraciones" "data-entry.candidates.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/candidates/form"}}
	</div>
</section>



