<section>
	<div class="section-header">
		<h1>Editar Mesa</h1>
		  {{link-to "Ver configuraciones" "data-entry.boards.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/boards/form"}}
	</div>
</section>



