$mobile: new-breakpoint(max-width 600px 6);
$tablet: new-breakpoint(max-width 1200px 6);
$tv: new-breakpoint(min-width 1800px 12);

.img-container {
	&.-country {
	    width: 43px;
	    overflow: hidden;
	    height: 43px;
	    border-radius: 50px;

	    img {
		    width: 65px;
		    position: relative;
		    left: -11px;
	    }
	}

	&.-candidates {
	    width: 43px;
	    overflow: hidden;
	    height: 43px;
	    border-radius: 50px;

	    img {
			width: 55px;
			position: relative;
			left: -7px;
			top: -5px;
	    }
	}
}

.checkbox-eso {
  width: 30px !important;
  margin-right: 30px !important;
  box-shadow: none !important;
}
.escrutinio-votes {

width: 100%;
margin-top: 10px;

	label {
		    @include span-columns(3);

		    span {
		   display: block;
		   font-size: 16px !important;
	    }
	    }

	

	input {
		     padding: 6px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: .25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  display: block;
  width: 100%;
	    }

}

.slat-action {
	
	.-remove {
		background: none;
		color: #e74b3c;
		    font-size: 16px;
	}

	.-edit {
		background: none;
		color: #3996d3;
		    font-size: 16px;
	}
}

.referendum-item {
	@include span-columns(4);
	text-align: center;
    padding: 15px;

    &.-yes {
		background: lighten(#2ecc71, 40%);
    }

    &.-no {
    	background: lighten(#e74c3c, 40%);
    }

	.fa {
		position: relative;
		width: 100%;
		font-size: 26px;
		margin-bottom: 15px;

	}

	span {
		position: relative;
	}

	small {
		position: relative;
		width: 100%;
		display: block;
	}
}

.main-tab {

}

.nav-tab {
    position: fixed;
    top: 10px;
    text-align: right !important;
    z-index: 8000;
    border: none !important;
    right: 0;
    width: 90% !important;


	li {
		      color: #fff !important;
    border-bottom: 4px solid transparent !important;
    padding: 0px 0 16px 0 !important;
    font-size: 17px !important;

		&.active {
			    border-bottom: 4px solid #fff !important;
		}
	}
}



.instance-container {
	@include outer-container(100%);

	.instance-item {
		@include span-columns(12);
		padding: 0;
	}

	.instance-meta {
		@include span-columns(12);

		h2 {
			font-size: 18px;
			width: 74%;
		    margin: 0;

		}


		    i {
		    	    font-size: 14px;
    line-height: 14px;
    display: block;
    margin: 7px 0 10px 0;
    width: 74%;
		    }

		.instance-candidate {
			float: right;
			display: block;
			width: 100%;
		}

		

		.fa {
			margin-right: 5px;
		}

		.Walter {
			.fa {
				color: #00b4e0;
			}
		}

		.Mariano {
			.fa {
				color: #f39c14;
			}
		}	

		.item {
		        float: left;
    width: 100%;
    margin-right: 0;
    /* min-height: 140px; */
    padding: 0;
    /* border-bottom: 1px solid #ddd; */
    background: #fff;
    /* border-left: 1px solid #ddd; */

		    &.Walter, &.Mariano {
		    	border-left: none;
			    
			    .item-data {
			    	width: calc(100% - 130px);

			    	small {
			    		font-size: 18px;
			    	}
			    }

				h2 {
					font-size: 33px;
					margin: 32px 0 5px 0;
					line-height: 21px;


				}

				i {
					font-size: 15px;
					display: inline-block;
				    color: #999;
				}

				.percent {
					position: absolute;
					top: 35px;
					font-size: 65px;
					line-height: 44px;

					@include media($tablet) {
						position: absolute;
						top: 31px;
						font-size: 40px;
						line-height: 26px;
					}
				}
			}


			 &.Walter {
			    .item-data {
					float: right;
					
				}

				.percent {
					color: #00b4e0;
					left: 0;
					text-align: right;

				}

				.img-container {
					float: left;
				}
			}


			&.Mariano {
				text-align: right;
				float: right;

				.item-data {
					float: left;
				}

				h2 {
					float: right;
				}

				.percent {
					color: #f39c14;
					left: 0;
					text-align: left;
				}

				.img-container {
					float: right;
				}
			}

			.item-data {
				float: right;
				width: calc(100% - 80px);
				padding: 0 0 0 10px;
				    position: relative;
			}

			.img-container {
				width: 80px;
				height: 80px;
				overflow: hidden;
				border-radius: 50px;
				border: 2px solid #ddd;
				float: left;

				img {
					width: 76px;
					height: 76px;
				}
			}

			&.Walter, &.Mariano {
				width: 50%;
				margin-right: 0;
			    background: none;
				padding: 5px 15px;


				.img-container {
					width: 120px;
				    height: 120px;
				    border-radius: 50%;

					img {
						width: auto;
						height: 120px;

					}
				}
			}

			h2 {
				font-size: 18px;
			}

			.percent {
				position: absolute;
				right: 0;
				font-size: 23px;
				top: 0;
			}

			small {
				float: left;
				width: 100%;
				font-size: 16px;
				font-weight: 500;
			}

		}
	}
}

.instance-container{
	&.-all {
		    width: 33%;
    float: left;
    padding: 0 1%;
    height: 90vh;
    border-right: 1px solid #ddd;

		.forces-item {
		    width: 100% !important;
		}
	}
}

.boroughs-container {
	@include span-columns(12);
	background: #fff;
	margin-top: 10px;

	h3 {
		margin: 0;
		font-size: 22px;
	}

	.boroughs-meta {
	    padding: 15px;
	    float: left;
	    width: 100%;
	}

	.Walter {
		.fa {
			color: #00b4e0;
		}
	}

	.Mariano {
		.fa {
			color: #f39c14;
		}
	}	

	.item {
		@include span-columns(12);
		padding: 5px 0;

		.name {
			@include span-columns(4);
		}

		.percent {
			@include span-columns(2);
		}

		.votes {
			@include span-columns(2);
		}
	}

	.school-data {
	    background: #dddedd;
	}
}

.school-container {
	@include outer-container(100%);

	.school-item {
		@include span-columns(12);
		background: #fff;
		margin-bottom: 15px;
		border: 1px solid #dcdbdb;
	}

	.school-data {
		@include span-columns(12);
		padding: 10px;
		background: #f1f0f0;
	}

	.school-name {
		h3 {
			margin: 0;
			text-transform: uppercase;
		}
	}

	.school-referring {
		h4 {
		    margin: 10px 0 0 0;
    		font-size: 17px;
		}

		.school-meta {
			margin: 10px 10px 0 0;
			@include span-columns(12);
			color: #666;

			.item {
				margin: 0 25px 0 0;
				display: inline-block;

				.fa {
					margin: 0 5px 0 0;
				}
			}
		}

		small {
			text-transform: uppercase;
		}
	}
}

.board-container {
	@include outer-container(100%);

	.board-head {
		@include span-columns(12);
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		padding: 10px;
		background: #f1f0f0;
		text-transform: uppercase;


		.board {
			@include span-columns(4);
			
			h4 {
				font-size: 16px;
				margin: 0;
				font-weight: 600;

			}
		}

		.candidate-container {
			@include span-columns(7);

			h4 {
				margin: 0;
				@include span-columns(4);
				font-size: 16px;
				text-align: center;
				padding-right: 15px;
			}
		}
	}

	.board-item {
		@include span-columns(12);
		padding: 10px;
		border-bottom: 1px solid #ddd;

		.board {
			@include span-columns(4);
		    line-height: 20px;
			
			
		}

		.candidate-container {
			@include span-columns(7);

			.board-candidate {
				@include span-columns(4);
			}

			input {
				margin: 0;
			    width: 100%;
				text-align: center;
				
			}

			.Walter {
				input {
					border: 1px solid #00b4e0;
				}
			}

			.Mariano {
				input {
					border: 1px solid #f39c14;
				}
			}
		}
	}
}

.school-selector {
	padding: 5px 0 0 0;
}
