$tv: new-breakpoint(min-width 1800px 12);
$desktop: new-breakpoint(max-width 1200px 6);
$ipad-wide: new-breakpoint(max-width 1080px 6);
$tablet: new-breakpoint(max-width 992px 6);
$mobile: new-breakpoint(max-width 600px 6);

.for-print {
	display: none;
}

.container {
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	@include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));

	@include media($mobile) {
		@include span-columns(5);
		@include shift(0.5);
	}

	@include media($tv) {
		@include span-columns(11.5);
		@include shift(0.25);
		padding: 10px 0 0 0;
	}
}

.charge-header {

}

.entry-list {
	h4 {
		margin: 25px 0 5px 0;
	}
}

.vote-head {
    margin: 0;
    padding: 10px 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 5001;
    color: #333;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    background: rgba(255,255,255,0.5);

	@include media($tablet) {
		font-size: 14px;
		background: #fff;
	}


    .pull-left {
    	width: 50%;
    }

    .pull-right {
    	text-align: right;
    }
}


.last-boards {
    margin-top: 15px;
    display: block;
    padding: 0;
    border: 1px solid #ddd;
    //max-height: 380px;
    //overflow: hidden;
    width: 48%;
    margin: 15px 0;
    float: right;
    font-family: 'PT Sans Narrow', sans-serif;


		@include media($ipad-wide) {
		 width: 92%;
    margin: 0 0% 0 4%;
    padding-bottom: 40px;
	}

	@include media($tablet) {
		width: 100%;
		margin: 0;
	}
    
    h3 {
		position: relative;
		font-size: 19px;
		text-align: left;
		padding: 7px 20px;
		margin: 0;
		background-color: #eee;
		font-weight: 600;
    }

    .board-head {
	    position: relative;
	    float: left;
	    width: 100%;
	    margin: 0;
	    border-bottom: 1px solid #ddd;
	    padding: 0;
	    font-weight: 600;
        font-size: 20px;
    }

    .board-item {

	    
	    position: relative;
	    border-bottom: 1px solid #ddd;
	    padding: 0 0 5px 0;
	    font-size: 18px;
	    float: left;
	    width: 100%;
	    background: #fff;

		&.-head {
			position: relative;
			font-size: 20px;
			text-align: left;
			padding: 7px 20px !important;
			margin: 0;
			background-color: #eee;
			font-weight: 600;
	    }    	
    }

    h4 {
		margin: 0;
	}

    .board {
		position: relative;
		@include span-columns(12);
	    padding: 10px 20px 10px 20px;
		border-bottom: 1px solid #ddd;
		background: #f9f9f9;
	}

	.candidate-container {
		position: relative;
		@include span-columns(12);
	    padding: 0;
	    margin-bottom: -15px;

		.candidate-item {
			width: 20%;
			padding: 5px 0;
			float: left;
			text-align: center;

				.votes {
					color: #666;
					font-size: 35px;
					font-weight: 600;
					-webkit-margin-before: 0em;
   					-webkit-margin-after: 0em;
   					display: block;
   					width: 100%;
				}
				.name {
					color: #666;
					font-size: 19px;
					-webkit-margin-before: 0em;
   					-webkit-margin-after: 0em;
   					display: block;
   					width: 100%;	
				}
		    }
		}

		.name {
			width: 100%;
			padding: 8px 0;
		}

		.votes {
			position: relative;
			@include span-columns(6);
			    /* padding: 10px; */
  			  text-align: center;

			span {
				font-size: 14px;
			    padding-right: 7px;
			}
	}
	


}


.candidate-container .candidate-item {

		/* one item */
	&:first-child:nth-last-child(1) {
		width: 100%;
	}

	/* two items */
	&:first-child:nth-last-child(2),
	&:first-child:nth-last-child(2) ~ .candidate-item {
		width: 50%;
	}

	/* three items */
	&:first-child:nth-last-child(3),
	&:first-child:nth-last-child(3) ~ .candidate-item {
		width: 33.3333%;
	}

	/* four items */
	&:first-child:nth-last-child(4),
	&:first-child:nth-last-child(4) ~ .candidate-item {
		width: 25%;
	}

	/* five items */
	&:first-child:nth-last-child(5),
	&:first-child:nth-last-child(5) ~ .candidate-item {
		width: 20%;
	}

	/* six items */
	&:first-child:nth-last-child(6),
	&:first-child:nth-last-child(6) ~ .candidate-item {
		width: 16.66666%;
	}

}


.boroughs-list {
    width: 48%;
    margin: 15px 0;
    float: left;
    padding: 0;
    border: 1px solid #ddd;
    font-family: 'PT Sans Narrow', sans-serif;

	@include media($ipad-wide) {
		width: 94%;
    margin: 10px 25px 15px 25px;
	}

	@include media($tablet) {
		width: 100%;
		margin: 0;
	}

	h3 {
		padding: 15px;
		margin: 0;
		border-left: 1px solid #ddd;
	    background-color: #ddd;
	}

	.boroughs-item {
	    float: left;
	    width: 100%;
	    padding: 5px 10px;
	    background: #fff;
	    border-bottom: 1px solid #ddd;

	    &.-head {
			
				position: relative;
				font-size: 20px;
				text-align: left;
				padding: 15px 20px;
				margin: 0;
				background-color: #eee;
				font-weight: 600;

	        .Walter, .Mariano {
				    color: #333 !important;
				    text-align: center !important;
			}

	    }

	    .namess {
			@include span-columns(3);
			    padding: 5px 10px;
			        margin: 0;
	    }

	    .candidate-progress {
	    	@include span-columns(9);

			.votes {
	    			font-weight: 300;


	    			.names {
	    				font-size: 16px;
					}

	    			.porcentaje {
	    				font-size: 30px;
	    				font-weight: 600;
					}
				}


	    	&.-medal {
	    		.votes {
	    			display: none;
				}
	    			.porcentaje {
	    			display: none;
				}
				.votes:nth-of-type(-n+3) {
					display: block
	    		}
	    		
	    	}
	    }

		



	    .votes {
			text-align: center;
		    padding: 5px 10px;
	        font-weight: 600;
    float: left;
    font-size: 15px;

			&.Walter {
			        text-align: left;
				    float: left;
				    color: #00b4e0;
				    padding: 5px 0;
			}

			&.Mariano {
				text-align: right;
				float: right;
				color: #f39c14;
			}
	    }

	    .percent {
	    	@include span-columns(4);
	    	text-align: center;
	    	    padding: 10px;
	    }

		.candidate-item {
			float: left;
			width: 100%;
			border-bottom: 1px solid #ddd;
			padding: 5px 0;

			&.-head {
				font-weight: 600;
			}

			&:last-child {
				border: none;
			}

			.name {
				@include span-columns(4);
			}

			.percent {
				@include span-columns(4);
				text-align: center;
			}

			.votes {
				@include span-columns(4);		
				text-align: center;
			}
		}
	}
}


.boroughs-list .votes {

		/* one item */
	&:first-child:nth-last-child(1) {
		width: 100%;
	}

	/* two items */
	&:first-child:nth-last-child(2),
	&:first-child:nth-last-child(2) ~ .votes {
		width: 50%;
	}

	/* three items */
	&:first-child:nth-last-child(3),
	&:first-child:nth-last-child(3) ~ .votes {
		width: 33.3333%;
	}

	/* four items */
	&:first-child:nth-last-child(4),
	&:first-child:nth-last-child(4) ~ .votes {
		width: 25%;
	}

	/* five items */
	&:first-child:nth-last-child(5),
	&:first-child:nth-last-child(5) ~ .votes {
		width: 20%;
	}

	/* six items */
	&:first-child:nth-last-child(6),
	&:first-child:nth-last-child(6) ~ .votes {
		width: 16.66666%;
	}

}



.intendente-panel {
	float: left;
	width: calc(100% - 300px);


	@include media($tablet) {
		width: 92%;
		margin: 0 0% 0 4%;
		float: left;
	}


}

.full {
	width: 100% !important;
}


.concejal-panel {
	float: right;
	width: 300px;
	background: #f9f9f9;
	padding: 15px;
	height: 80vh;
    font-family: 'PT Sans Narrow', sans-serif;

	@include media($tablet) {
		width: 92%;
		margin: 0 0% 0 4%;
		float: left;
	}


    .concejal-container {
    	margin: 0 0 15px 0;
    }

	h2 {
		margin: 0 0 5px 0;
		font-size: 18px;
		font-weight: 600;
		border-bottom: 1px solid #ddd;
		padding: 5px 0;
	}

	h5 {
		margin: 10px 0 10px 0;
		font-family: 'PT Sans Narrow', sans-serif;
	}

	.concejal-meta {
		    float: left;
    width: 100%;
    text-align: center;
    padding: 15px 0;

		.coefficient {
			    width: 50%;
    float: left;
    overflow: hidden;
		}

		.banks {
			    width: 50%;
    float: right;
		}

		h3 {
			display: block;
			width: 100%;
			margin: 0 0 5px 0;
		}

		small {
			display: block;
			width: 100%;
		}
	}

	.concejal-list {
		width: 100%;
		padding: 0;
		margin: 0;

		.concejal-item {
			width: 100%;
			padding: 9px 0;
			float: left;
			border-bottom: 1px solid #ddd;

			&:first-child {
				
				.places {
					background: #1EBCEF;
					
				}

			}

			.name {
				    float: left;
    display: block;
    width: calc(100% - 40px);
    padding: 4px 11px;
    font-size: 23px;
    line-height: 27px;
			}

			.places {
				width: 40px;
    float: left;
    text-align: center;
    background: #999;
    color: #fff;
    font-weight: 600;
    font-size: 26px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;


			}

			small {
			    float: left;
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 53px;
    line-height: 18px;
    font-size: 15px;

	b {
		margin-right: 25px;
	}

			}
		}
	}
}


.section-header {
	@include span-columns(10);
  	@include shift(1);
  	position: relative;
  	margin-bottom: 0;
  	border-bottom: 1px solid #ccc;
  	@include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));
    margin-top: 25px;


  	@include media($mobile) {
		@include span-columns(6);
		@include shift(0);
	}

  	 h1 {
  	 	    display: inline-block;
    margin: 10px 0 10px 0;
    font-size: 42px;
    font-weight: 300;
  	 }

  	 .btn {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 36px;
		height: 31px;
		font-size: 15px;
		background: none;
		color: #0083ff;
  	 }

  	 &.-table {
  	 	border: none;
  	 }
}

.section-content {
	@include span-columns(10);
  	@include shift(1);
  	@include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));


  	@include media($mobile) {
		@include span-columns(6);
		@include shift(0);
	}

  	li {
		
		display: inline;
		position: relative;

  		a {
			margin: 0 20px;
  		}
  	}



}



#blankslate {
	text-align: center;
}


.friend-container {
	@include span-columns(8);
  	@include shift(2);
  	position: relative;
  	@include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));
	
	.friend-item {
		@include outer-container(100%);
		border-bottom: 1px solid #ddd;
		margin-bottom: 15px;
		padding: 15px;
		background-color: #fff;

		&:last-child {
			border: none;
		}

	}

	.friend-img {
		@include span-columns(2);

		@include media($mobile) {
			@include span-columns(1);
			@include shift(0);
		}

	}

	.friend-name {
		@include span-columns(5);

		@include media($mobile) {
			@include span-columns(4);
			@include shift(0);
		}


		p {
			margin: 0 0 10px 0;

			small {

			}
		}

	}

	.friend-actions {
		float: right;
		display: block;
		width: auto;

		.-white {
			  background: white;
  				color: #0083ff;
		}

		@include media($mobile) {
			@include span-columns(5);
			@include shift(1);
		}

	}


	a {
		  text-align: center;
		  padding: 5px 7px;
		  font-size: 10px;
		  display: inline-block;
	}
	
	$groups: new-breakpoint(max-width 800px 6);

  	@include media($groups) {
		@include span-columns(6);
		@include shift(0);
	}

	.img-container {
		  border-radius: 50%;
		  border: 2px solid #ddd;
		  width: 50px;
		  overflow: hidden;
		  height: 50px;

		img {
			width:50px;
			height: auto;
			height: 70px;
		}
	}

}


.index-container {
	margin: 50px auto 0 ;
	width: 325px;
}

.force-general {
    padding: 0;

	@include media($ipad-wide) {
		width: 100%;
		padding: 0 25px;
	}

	@include media($tablet) {
		padding: 0;
	}

}

.force-container {
	float: left;
	width: 100%;

	.forces-item:nth-of-type(-n+1) {
	    width: 100%;
	    margin: 0 1% 10px 1%;
	    min-height: 100px;

		.img-container {
			display: block;
		}


		h1 {
			margin: 0;
			font-size: 24px;
			text-align: left;
			font-weight: 600;
			line-height: 26px;
			padding: 0;
		}

		

		.candidate-item {
			position: relative;
			padding-bottom: 30px;

			.candidate-meta {
				position: relative;
				width: calc(100% - 70px);
				text-align: left;
				padding: 10px;
			}

			.img-container {

			}

		}

		.votes {
			float: right;
			width: 50%;
			text-align: center;
		    padding: 12px 0;

			.percent {
				font-size: 40px;
			}

			.vote {

			}

		}
	}



	h1 {
		margin: 0;
		font-size: 17px;
		text-align: left;
		font-weight: 600;
		line-height: 19px;
		padding: 7px;
	}
}

.forces-item {
	min-height: 80px;
    float: left;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    margin: 0 1% 10px 1%;
    position: relative;
    background: #fff;

    h3 {
    position: relative;
    padding: 10px;
    background-color: #ddd;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    }

.force-name {
    position: absolute;
    bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    color: #999;
    left: 0;
    text-align: center;
    right: 0;
}

    .force-meta {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
		background-color: #f1f1f1;

	    .percent, .votes {
			width: 50%;
			text-align: center;
			float: left;
			font-size: 22px;
			line-height: 18px;
			margin: 7px 0 0 0;
		}

		span {
			position: relative;
			font-size: 11px;
		}


    }

    .candidate-item {
		float: left;
		width: 50%;
		//border-bottom: 1px solid #ddd;
		padding: 10px 10px 25px 10px;

	}

	.votes {
		float: right;
		width: 50%;
		text-align: center;
		padding: 14px;

			.percent {
				font-size: 24px;
			}

			.vote {
				    color: #777;
			}

		}

    .candidate-meta {
    position: relative;
    float: left;
    width: 100%;
    padding: 0;
    font-size: 13px;
    text-align: center;

    	.name {
    		@include span-columns(4);
    		text-align: left; 
    		font-weight: 600;

    	}

		.votes {
			position: relative;
			@include span-columns(4);
		}

		.percent {
			position: relative;
			@include span-columns(4);
			    padding-left: 10px;
    text-align: left;
		}

    }



	.img-container {
    border-radius: 50%;
    border: 2px solid #ddd;
    width: 70px;
    overflow: hidden;
    height: 70px;
    float: left;
	display: none;
		img {
		    width: auto;
		    height: 70px;
		}
	}
}