<section>
	<div class="section-header">
		<h1>Nuevo Distrito</h1>
		  {{link-to "Ver distritos" "data-entry.towns.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/towns/form"}}
	</div>
</section>
