<section>
	<div class="section-header">
		<h1>Editar instancia</h1>
		  {{link-to "Ver instancias" "admin.instances.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "admin/instances/form"}}
	</div>
</section>
