<section>
	<div class="section-header">
		<h1>Nueva provincia</h1>
		  {{link-to "Ver configuraciones" "data-entry.provinces.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/provinces/form"}}
	</div>
</section>



