<section>
	<div class="section-header">
		<h1>Nueo referente</h1>
		  {{link-to "Ver referentes" "data-entry.referrings.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/referrings/form"}}
	</div>
</section>
