<section>
	<div class="section-header">
		<h1>Crear barrio</h1>
		  {{link-to "Ver barrios" "data-entry.boroughs.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/boroughs/form"}}
	</div>
</section>


