@import "plugins/plugins";
@import "base/base";
@import "modules/modules";
@import "layouts/layouts";

.pace .pace-progress {
  background: darken(#1EBCEF, 15%);
  position: fixed;
  z-index: 8000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}


.input-error {
	display: none;
}

.item {
	&.Daniel {
		Width: 50% !important;
	}

	&.Mauricio {
		Width: 50% !important;
	}
}