@import "plugins/plugins";
@import "base/base";
@import "modules/modules";
@import "layouts/layouts";

.pace .pace-progress {
  background: darken(#1EBCEF, 15%);
  position: fixed;
  z-index: 8000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}


.input-error {
	display: none;
}

.item {
	&.Daniel {
		Width: 50% !important;
	}

	&.Mauricio {
		Width: 50% !important;
	}
}

.mesas {
    padding: 12px;
    border: 1px solid #cfd9db;
    background-color: #ffffff;
    border-radius: .25em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    display: block;	
}

.seleccionar-mesa {
    width: 202px;
    border-radius: 0em;
}

.giant {
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    padding: 0.75em;
    font-size: 23px;
    width: 100%;
    float: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.totales {
    padding-bottom: 10px;
}


.divider {
    height: 15px;
}


.title {
  top: -10px;
  display: initial;
  float: inherit;
  position: absolute;
  width: 100%;
  text-align: center;  
}

.vote-head-selector {
    display: block;
    width: 41%;
    z-index: 999999;
    font-size: 12px;
    float: right;
    margin: -58px -35px 0px 0px;
    position: relative;
}

.force-box {
  
  heigth: 25px;


}