<section>
	<div class="section-header">
		<h1>Editar Equipo</h1>
		  {{link-to "Ver equipos" "admin.teams.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "admin/teams/form"}}
	</div>
</section>



